.card {
  padding: 10px;
  background: #dbdbdbb7;
  border-radius: 4px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: unset;
}
